.cart-container {
    // background-color: rgb(198, 198, 198);
    background-image: url('https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?cs=srgb&dl=pexels-pixabay-326333.jpg&fm=jpg');

    padding-top: 3.2rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;


    .orders {
        flex: 2.5;
        height: auto;
        width: 100%;
        // background: red;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }


        .order-card {
            height: 150px;
            background: white;
            margin: 20px;
            display: flex;
            align-items: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            border-radius: 10px;
            overflow: hidden;

            .order-img {
                flex: 1;
                height: 100%;
                // background: blue;
                display: flex;
                justify-content: center;
                align-items: center;


                img {
                    height: 100%;

                }
            }

            .order-info {
                display: flex;
                flex: 4;
                justify-content: space-between;
                align-items: center;
                height: 100%;




                input {
                    outline: 0;
                    border: 0;
                    width: 50%;
                    // borderRadius: '4px 2px 2px 4px',
                    padding: 0.1ex 1ex;
                    margin-right: 4;
                    display: block;
                    font-weight: 100;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
                    padding: 5px;
                    font-size: 18px;

                    &:hover {
                        border: 1px solid #ccc;

                    }



                }

                h6 {
                    flex: 1;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    gap: 30px;
                    padding: 10px;
                    color: gray;

                    span {
                        color: black;
                        font-size: 18px;
                        font-weight: 400;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

                    }
                }

                button {
                    all: unset;
                    width: 30px;
                    padding: 10px;
                    padding-right: 20px;
                    outline: 0;
                    border: 0;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }

    .checkout {
        flex: 1.5;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 20px;

        .checkout-card {
            border-radius: 10px;
            height: 100%;
            padding: 10px;
            margin: 10px;
            background: white;
        }
    }

}