.home_container {
    color: rgb(198, 198, 198);
    // overflow: hidden;
    overflow-x: hidden;

    .header {
        position: relative;
        // height: 100svh;

        .home_info {
            padding-left: 50px;
            width: 700px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            min-height: 100svh;

            h1 {
                font-size: 48px;
                font-weight: 600;
                // color: gold;
                color: black;
                // line-height: 60px;
                position: relative;

                div {
                    position: absolute;
                    bottom: 1px;
                    right: 200px;
                    width: 25rem;
                    height: 2px;
                    background-color: red;
                }

            }

            p {
                font-size: 18px;
                font-weight: 400;
                color: gray;
                width: 600px;
            }

            button {
                all: unset;
                gap: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                width: 200px;
                margin-top: 10px;
                padding: 10px 20px;
                border-radius: 30px;
                font-size: 24px;
                font-weight: 500;

                background-color: orange;
                color: white;
                transition: background-color .2s linear;

                &:hover {
                    background-color: red;
                }
            }
        }

        img {
            position: absolute;
            bottom: 50%;
            right: 0;
            transform: translate(-150px, 50%) scale(1.1);
            width: 350px;
            height: 350px;
            border-radius: 100%;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, .2);
            animation: circle-spin 1s linear;

            @keyframes circle-spin {
                from {
                    opacity: 0;
                    transform: translate(150px, 50%) rotate(0deg) scale(0);
                }

                to {
                    opacity: 1;
                    transform: translate(-150px, 50%) rotate(360deg) scale(1.1);
                }
            }
        }

        .circle {
            position: absolute;
            width: 700px;
            height: 700px;
            z-index: -1;
            bottom: 50%;
            right: 0;
            border-radius: 50%;
            transform: translate(50%, 50%);
            background-color: orange;
        }
    }

    .adds {
        display: flex;
        padding: 3rem;
        gap: 50px;

        img {
            width: 300px;
            height: 300px;
            margin-left: 20px;
        }

        h2 {
            margin-top: 20px;
            font-size: 24px;
            font-weight: 500;
            color: black;

            p {
                margin-top: 14px;
                line-height: 30px;
                letter-spacing: 1.5px;
                color: gray;
                font-size: 18px;
                font-weight: normal;
                width: 600px;
            }
        }
    }

}