.footer {
    background-color: rgb(255, 170, 42);
    overflow: hidden;

    &.show {
        .info {
            animation: fromBottom 2s ease forwards;
        }
    }

    .info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 250px;
        justify-content: center;
        padding: 30px 25px;
        gap: 5px;

        .g1,
        .g2,
        .g3,
        .g4 {
            color: black;
        }
    }
}

@keyframes fromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}