.navbar {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    // border-bottom: 1px solid #454545;
    // background-color: rgb(15, 15, 15);
    // background: linear-gradient(black, transparent);
    // background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;

    h1 {
        color: gold;
    }

    .links {
        display: flex;
        gap: 20px;

        .notification {
            position: relative;

            p {
                position: absolute;
                top: -5px;
                right: -15px;
                font-size: 12px;
                background-color: red;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                text-align: center;
                line-height: 14px;
            }
        }

        a {
            text-decoration: none;
            color: black;
        }

        .active {
            // font-size: 20px;
            transform: scale(1.5);
            transition: all 0.3s ease-in-out;
            font-weight: 400;
            color: gold
        }
    }
}