.container {
    // background: #efffec;
    padding-top: 2.5rem;
    // background-image: url('https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?cs=srgb&dl=pexels-pixabay-326333.jpg&fm=jpg');
    background-size: cover;
    // color: rgb(198, 198, 198);

    .title {
        padding-top: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        p {
            width: 80%;
            text-align: center;
        }
    }

    .menu-buttons {
        padding: 30px 100px 0px 100px;
        display: flex;
        justify-content: space-between;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 0;
            border: 0;
            cursor: pointer;
            background-color: gold;
            color: white;
            border-radius: 30px;
            width: 150px;
            padding: 10px;
            font-size: 18px;
            font-weight: 600;
            gap: 8px;
            letter-spacing: 2px;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: red;
            }



        }

        .drawer {
            width: 300px;
            height: 100vh;
            background-color: #f0f0f0;
            position: fixed;
            top: 0;
            left: -300px;
            transition: left 0.3s ease;
            padding: 20px;
            z-index: 11;

            .range-slider {
                width: 100%;

                input {
                    width: 100%;
                    width: 100%;
                    height: 15px;
                    border-radius: 5px;
                    background: #d3d3d3;
                    outline: none;
                    opacity: 0.7;
                    -webkit-transition: .2s;
                    transition: opacity .2s;
                }
            }
        }

        .drawer.open {
            left: 0;
        }


        select {

            appearance: none;
            padding: 10px 20px;
            font-size: 18px;
            border: 1px solid rgba(0, 0, 0, .1);
            border-radius: 30px;
            width: 200px;
            cursor: pointer;

            background-size: 20px;
            background-image: url('../../assets/dropdown-icon.png');
            background-repeat: no-repeat;
            background-position: right 10px center;
            opacity: .5;

            option {
                color: rgba(0, 0, 0, .5);

            }
        }

        /* Hover and focus styles */
        select:hover {
            // border-color: #999;
            // box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.25);

        }

        select:focus {
            border-color: #007bff;
            box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
        }

        /* Optional disabled style */
        select:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }

    .menu-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 100px;
        gap: 50px;
        justify-content: center;
        align-items: center;

        overflow-y: auto;

        .menu-item {
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, .1);
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            background: white;
            border-radius: 10px;
            overflow: hidden;
            height: 450px;
            width: 100%;

            .pic {
                margin: 20px;
                // background: white;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                // background: red;
                transition: transform .3s ease-in-out;



                img {
                    height: 100%;
                    width: 100%;

                    object-fit: contain;
                }
            }

            &:hover {
                .pic {

                    transform: scale(1.1);
                }

                // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }

            &:not(:hover) {
                .pic {

                    transform: scale(1);
                }
            }


            .about {
                h5 {
                    display: flex;
                    justify-content: space-between;
                    font-size: 24px;
                    font-weight: 500;
                    color: black;

                    span {
                        color: brown;
                        justify-self: flex-end;
                    }
                }

                .star-rating {
                    display: flex;
                    gap: 2px;
                    color: gold;
                }


                p {
                    margin-top: 10px;
                    font-size: 18px;
                    letter-spacing: 1px;
                    line-height: 28px;
                    // background-color: red;
                }
            }

            button {
                margin-top: 10px;
                border-radius: 20px;
                border: 0;
                padding: 8px 14px;
                display: flex;
                gap: 10px;
                align-self: start;
                align-items: center;
                color: white;
                font-weight: 400;
                font-size: 18px;
                letter-spacing: 1px;
                outline: 0;
                background-color: rgb(255, 181, 43);

            }
        }
    }
}